.logo {
    height: 48px;
    float: left;
    margin-left: 20px;
}

.nav-ul {
    background-color: skyblue;
    padding: 5px;
    margin: 0;

}

.nav-right {
    text-align: right;
}

.nav-ul li {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin-left: 20px;
}

.nav-ul li a {
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
}

.footer {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: skyblue;
}

.form {
    margin-left: 30%;
}

.inputBox {
    display: block;
    ;
    margin: 10px;
    padding: 5px;
    width: 300px;
    border: 1px solid skyblue;
}

.submitbtn {
    width: 312px;
    margin-left: 10px;
    padding: 6px;
    background-color: skyblue;
    border: none;
    cursor: pointer;
}

.invalidInput {
    color: red;
    display: block;
    margin-left: 10px;
    margin-top: -9px;
}